html {
    margin: 0;
    padding: 0;
    width: 100%;
}


body {
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
    min-height: 100%;
}

body #mainBody {
    margin-left: 25px;
    padding-top: 25px;
}
